
@font-face {
  font-family: 'PF Encore Sans Pro';
  src: url('../../fonts/PFEncoreSansPro/thin/normal/font.eot');
  src: local('...'),
    url('../../fonts/PFEncoreSansPro/thin/normal/font.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/PFEncoreSansPro/thin/normal/font.woff2') format('woff2'),
    url('../../fonts/PFEncoreSansPro/thin/normal/font.woff') format('woff'),
    url('../../fonts/PFEncoreSansPro/thin/normal/font.ttf') format('truetype'),
    url('../../fonts/PFEncoreSansPro/thin/normal/font.svg#PFEncoreSansPro-Thin') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PF Encore Sans Pro';
  src: url('../../fonts/PFEncoreSansPro/thin/italic/font.eot');
  src: local('...'),
    url('../../fonts/PFEncoreSansPro/thin/italic/font.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/PFEncoreSansPro/thin/italic/font.woff2') format('woff2'),
    url('../../fonts/PFEncoreSansPro/thin/italic/font.woff') format('woff'),
    url('../../fonts/PFEncoreSansPro/thin/italic/font.ttf') format('truetype'),
    url('../../fonts/PFEncoreSansPro/thin/italic/font.svg#PFEncoreSansPro-ThinItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'PF Encore Sans Pro';
  src: url('../../fonts/PFEncoreSansPro/light/normal/font.eot');
  src: local('...'),
    url('../../fonts/PFEncoreSansPro/light/normal/font.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/PFEncoreSansPro/light/normal/font.woff2') format('woff2'),
    url('../../fonts/PFEncoreSansPro/light/normal/font.woff') format('woff'),
    url('../../fonts/PFEncoreSansPro/light/normal/font.ttf') format('truetype'),
    url('../../fonts/PFEncoreSansPro/light/normal/font.svg#PFEncoreSansPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PF Encore Sans Pro';
  src: url('../../fonts/PFEncoreSansPro/light/italic/font.eot');
  src: local('...'),
    url('../../fonts/PFEncoreSansPro/light/italic/font.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/PFEncoreSansPro/light/italic/font.woff2') format('woff2'),
    url('../../fonts/PFEncoreSansPro/light/italic/font.woff') format('woff'),
    url('../../fonts/PFEncoreSansPro/light/italic/font.ttf') format('truetype'),
    url('../../fonts/PFEncoreSansPro/light/italic/font.svg#PFEncoreSansPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PF Encore Sans Pro';
  src: url('../../fonts/PFEncoreSansPro/regular/normal/font.eot');
  src: local('...'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.woff2') format('woff2'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.woff') format('woff'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.ttf') format('truetype'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.svg#PFEncoreSansPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF Encore Sans Pro';
  src: url('../../fonts/PFEncoreSansPro/regular/italic/font.eot');
  src: local('...'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.woff2') format('woff2'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.woff') format('woff'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.ttf') format('truetype'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.svg#PFEncoreSansPro-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PF Encore Sans Pro';
  src: url('../../fonts/PFEncoreSansPro/regular/normal/font.eot');
  src: local('...'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.woff2') format('woff2'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.woff') format('woff'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.ttf') format('truetype'),
    url('../../fonts/PFEncoreSansPro/regular/normal/font.svg#PFEncoreSansPro-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PF Encore Sans Pro';
  src: url('../../fonts/PFEncoreSansPro/regular/italic/font.eot');
  src: local('...'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.woff2') format('woff2'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.woff') format('woff'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.ttf') format('truetype'),
    url('../../fonts/PFEncoreSansPro/regular/italic/font.svg#PFEncoreSansPro-MediumItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}