body {font-family:Arial;}
.container {    max-width: 480px;
padding: 12px;}
select {    font-size: 22px;
    margin-top: 8px;
    border: 1px solid #8BC34A;
border-radius: 5px;}
textarea {width:90%;min-height:100px; border: 1px solid #8BC34A;
border-radius: 5px;padding:10px;}
.btn-success {
	color: #fff;
    background-color: #398439;
    border-color: #255625;
    display: block;
    padding: 8px 15px;
    border-radius: 5px;
    margin: auto;
    font-size: 16px;
    border: none;
}
.inp-item {margin: 30px 0;}

.send-cont {text-align:center;}
.send-cont h1 {    color: #8BC34A;}